.DS_Store

codeigniter/application/cache/*
!codeigniter/application/cache/index.html
!codeigniter/application/cache/.htaccess

codeigniter/application/logs/*
!codeigniter/application/logs/index.html
!codeigniter/application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

node_modules/

## ! contains sensitive information
codeigniter/application/config/email.php

public/uploads/
codeigniter/application/config/recaptcha.php
